<div class="page1__header">
  <section class="section1">
    <div class="section1__align">
      <div class="section1__main">
        <div class="item__list">
          <div class="item"><a href="index.html"><img src="assets/logo.svg"></a></div>
          <div class="item">
            <h2>Usuario</h2><span id="logout">US</span>
            <div class="item__close" id="out"><a>Cerrar sesión</a></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section2" id="bg"></section>
</div>
