<div class="section1__header">
  <div class="item__list">
    <div class="item">
      <ul>
        <li><a routerLink="/dashboard">Home</a></li>
        <li><a id="supplier">Proveedores</a>
          <ul>
            <li><a href="#">Listado</a></li>
            <li><a href="#">Registro</a></li>
          </ul>
        </li>
        <li><a id="account" (click)="onClickAccount()">Cuentas</a>
          <ul>
            <li><a routerLink="account/list" routerLinkActive="active">Listado</a></li>
          </ul>
        </li>
        <li><a href="#">Clientes</a></li>
      </ul>
    </div>
  </div>
</div>

